/*Common css start here*/

body{
	font-family: 'Overpass', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
}

input:focus-visible, textarea:focus-visible {
    outline: 0;
}

.custom-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.custom-sub-heading h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
    color: #c04ae2;
    letter-spacing: 3px;
    margin-top: 0;
}

.custom-heading h2 {
    font-size: 60px;
    font-weight: bolder;
    color: #111111;
    text-align: center;
    width: 70%;
    margin: 0px auto;
}

@media screen and (min-width:576px){
	.custom-container{
		max-width: 540px;
	}	
}
@media screen and (min-width:768px){
	.custom-container{
		max-width: 720px;
	}	
}
@media screen and (min-width:992px){
	.custom-container{
		max-width: 960px;
	}	
}
@media screen and (min-width:1200px){
	.custom-container{
		max-width: 1140px;
	}	
}
/*Common css end here*/

/*Header css start here*/
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-inner .header-menu ul.header-menu-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.header-inner .header-menu ul.header-menu-inner a {
    font-size: 20px;
    padding-right: 35px;
    font-weight: normal;
    color: #000;
}

.header-inner .header-menu ul.header-menu-inner li:last-child a {
    padding: 0;
}

.header-quote-btn a {
    padding: 12px 24px;
    border: 2px solid #bf49e1;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
    color: #000;
}
.header-section {
    position: absolute;
    right: 0;
    left: 0;
}

.header-menu .humbarger-menu {
    display: none;
}
/*Header css end here*/

/*Banner css start here*/
.banner-section{
	background-image: url(../image/banner-bg.png);
	width: 100%;
	height: 600px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 17%;
	padding-bottom: 5%;
}
.banner-section .banner-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-section .banner-inner .banner-txt-content {
    width: 50%;
}

.banner-section .banner-inner .banner-img {
    width: 50%;
}

.banner-section .banner-inner .banner-img img {
    width: 100%;
}

.banner-section .banner-heading {
    font-size: 90px;
    font-weight: bolder;
    color: #111111;
    margin-top: 0;
    margin-bottom: 50px;
}

.banner-section .banner-sub-content {
    font-size: 30px;
    font-weight: normal;
    color: #5e5858;
}

.banner-section .banner-btn a {
    padding: 12px 20px;
    background-color: #c04ae2;
    border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
}

.banner-section .banner-btn {
    display: inline-block;
}
/*Banner css end here*/

/*Build trust css start here*/

.build-trust-section .build-block {
    width: 33.33%;
}

.build-trust-section .build-trust-block-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.build-trust-section .build-block-inner {
    padding: 70px 30px;
    border: 5px solid #fcd7df;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #ffffff;
}

.build-trust-section .build-block-title h4 {
    font-size: 30px;
    font-weight: bolder;
    color: #111111;
    margin-bottom: 25px;
    margin-top: 25px;
}

.build-trust-section .build-block-paragraph p {
    margin: 0;
    font-size: 20px;
    color: #5e5858;
}

.build-trust-section .build-block.block-2 {
    margin: 0 20px;
}

.build-trust-section .build-block.block-2 .build-block-inner {
    border-color: #c9f2e1;
}

.build-trust-section .build-block.block-3 .build-block-inner {
    border-color: #f1d5b9;
}

.build-trust-section .build-trust-heading-main {
    margin-bottom: 80px;
}

.build-trust-section{
	background-image: url(../image/build-trust-bg.png);
	background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
}

/*Build trust css end here*/

/*Innovative css start here*/

.innovative-section .innovative-sec-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.innovative-section .innovative-txt-content {
    width: 50%;
    padding-right: 15px;
}

.innovative-section .innovative-img {
    width: 50%;
}

.innovative-section .innovative-img img {
    width: 100%;
}

.innovative-section .innovative-txt-content h2 {
    width: auto;
    text-align: left;
}

.innovative-section .innovative-txt-content  p {
    font-size: 24px;
    color: #5e5858;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.innovative-section .innovative-btn a {
    padding: 12px 20px;
    background-color: #c04ae2;
    border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
}

.innovative-section .innovative-btn {
    display: inline-block;
    margin-top: 30px;
}

.innovative-section{
	background-image: url(../image/innovative-bg.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 66px 0;
}
/*Innovative css end here*/

/*What we do css start here*/

.what-we-do-section .custom-sub-heading h4 {
    text-align: right;
}

.what-we-do-section .custom-heading h2 {
    text-align: right;
    margin-right: 0;
}

.what-we-do-section .what-we-do-section-block-content {
	text-align: center;
    background-color: transparent;
    border-radius: 40px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin: 0 20px;
    padding: 60px 25px;
    margin-bottom: 40px;
}

.what-we-do-section .what-we-do-section-block-inner {
    width: 33.33%;
}

.what-we-do-section .what-we-do-section-block {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.what-we-do-section .what-we-do-block-title h4 {
    font-size: 30px;
    font-weight: bolder;
    color: #111111;
    margin: 25px 0;
}

.what-we-do-section .what-we-do-block-paragraph p {
    font-size: 20px;
    font-family: 'Roboto';
    color: #5e5858;
}

.what-we-do-section{
	background-image: url(../image/what-we-do-bg.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 65%;
    padding: 100px 0;
}

.what-we-do-section .what-we-do-block-arrow {
    margin-top: 40px;
}

.what-we-do-section-heading-sec {
    margin-bottom: 50px;
}

.what-we-do-col-2 {
    margin-top: 6%;
}

.what-we-do-col-3 {
    margin-top: 12%;
}

.what-we-do-section-block-inner.what-we-do-col-4 {
    margin-top: -125px;
}

.what-we-do-section-block-inner.what-we-do-col-5 {
    margin-top: -55px;
}
/*What we do css end here*/

/*Our project css start here*/

.our-project-section .our-project-img-txt-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.our-project-section .our-project-img-txt-inner .our-project-img-sec {
    width: 50%;
}

.our-project-section .our-project-img-txt-inner .our-project-txt-sec {
    width: 50%;
}

.our-project-txt-sec h4.our-project-sub-txt {
    font-size: 24px;
    color: #fe6686;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 15px;
}

.our-project-txt-sec h3.our-project-main-txt {
    font-size: 42px;
    color: #111111;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 25px;
}

.our-project-txt-sec p.our-project-paragraph {
    font-size: 20px;
    color: #5e5858;
    font-weight: normal;
    font-family: 'Roboto';
    margin-top: 0;
}

.our-project-txt-sec .view-project-btn {
    display: inline-block;
    margin-top: 20px;
}

.our-project-txt-sec .view-project-btn a {
    padding: 12px 24px;
    border: 2px solid #bf49e1;
    border-radius: 3px;
    font-size: 18px;
    color: #111111;
    font-weight: bolder;
}

.our-project-sec-heading {
    margin-bottom: 90px;
}

.our-project-section{
    background-image: url(../image/our-project-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0;
}

.our-project-txt-sec .our-project-sub-txt.heading-green {
    color: #54d6a1;
}

.our-project-txt-sec .our-project-sub-txt.heading-orange {
    color: #fe9a3f;
}

.go-to-portfolio {
    text-align: center;
    margin-top: 80px;
}

.go-to-portfolio a {
    font-size: 18px;
    color: #111111;
    font-weight: bolder;
    border-bottom: 2px solid #bf49e1;
}

.our-project-section .our-project-img-txt-inner:last-child {
    margin: 0;
}
/*Our project css end here*/

/*Meet our team css start here*/
.meet-team-block-main {
    width: 25%;
}

.meet-team-block {
    margin: 0 25px;
}

.meet-team-content-sec {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.meet-team-title-section {
    margin-bottom: 80px;
}

.meet-team-img img {
    width: 100%;
}

.meet-team-name h4 {
    font-size: 24px;
    color: #111111;
    font-weight: bolder;
    margin-bottom: 10px;
}

.meet-team-designation p {
    font-size: 18px;
    color: #adb0ba;
    font-weight: normal;
    font-family: 'Roboto';
    margin: 0;
}

.custom-top-margin {
    margin-top: 6%;
}

.meet-team-section{
    background-image: url(../image/meet-team-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 180px 0;
}
/*Meet our team css end here*/

/*Testimonial css start here*/
.testimonial-slider {
    width: 50%;
}

.testimonial-img-section {
    width: 50%;
}

.testimonial-inner-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-section .custom-sub-heading h4 {
    text-align: left;
}

.testimonial-section .custom-heading h2 {
    text-align: left;
    width: auto;
}

.testimonial-img-section img {
    width:100%;
}

.testimonial-paragraph p {
    font-size: 24px;
    color: #5e5858;
    font-weight: normal;
    font-family: 'Roboto';
    margin-bottom: 50px;
}

.testimonial-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.testimonial-details p {
    font-family: 'Roboto';
    font-size: 18px;
    color: #adb0ba;
    margin: 0 0 0 15px;
}

.testimonial-details h5 {
    font-size: 24px;
    color: #111111;
    font-weight: bolder;
    margin: 0 0 0 25px;
}

.testimonial-details:before {
    content: '';
    width: 25px;
    height: 2px;
    background-color: #332e98;
}

.testimonial-section .slick-dots li.slick-active button:before {
    width: 30px;
    height: 12px;
    background-color: #c04ae2;
    border-radius: 15px;
    content: '' !important;
    opacity: 1;
}

.testimonial-section ul.slick-dots {
    bottom: -70px;
    text-align: left;
}

.testimonial-section .slick-dots li button:before {
    width: 12px;
    height: 12px;
    background-color: #c04ae2;
    content: '' !important;
    opacity: 1;
    border-radius: 100%;
}

.testimonial-section .slick-dots li.slick-active button, .testimonial-section .slick-dots li.slick-active {
    width: 30px;
}

.testimonial-slider:before {
    content: '';
    background-image: url(../image/testimonial-quote.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 64px;
    width: 80px;
    position: absolute;
    left: -95px;
}

.testimonial-section{
    background-image: url(../image/testimonial-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

/*Testimonial css end here*/

/*Contact us css start here*/
.contact-us-content-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-us-form-sec {
    width: 40%;
}

.contact-us-details-sec {
    width: 40%;
}

.contact-us-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact-us-form form input[type="text"],.contact-us-form form input[type="email"], .contact-us-form form textarea {
    width: 100%;
    height: 64px;
    margin: 10px 0;
    border-radius: 7px;
    filter: drop-shadow(14.562px 10.58px 24px rgba(0,0,0,0.06));
    background-color: #ffffff;
    border: 0;
    padding: 0 20px;
    font-size: 20px;
    line-height: 28px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
}

.contact-us-form form input[type="text"]::placeholder, .contact-us-form form input[type="email"]::placeholder, .contact-us-form form textarea::placeholder {
    color: #999;
}

.contact-us-form form textarea {
    padding: 20px;
}

.contact-us-form-title h3 {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 54px;
    color: #111111;
    font-weight: 800;
}

.contact-us-details-sec p.contact-us-txt {
    font-size: 24px;
    line-height: 36px;
    color: #5e5858;
    font-weight: 400;
    font-family: "Roboto";
    margin-top: 0;
}

.cust-contact-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.cus-contact-add-detail {
    margin-left: 20px;
}

.cus-contact-add-detail h4 {
    margin-top: 0;
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 24px;
    color: #111111;
    font-weight: 800;
    margin-bottom: 10px;
}

.cus-contact-add-detail p {
    font-size: 18px;
    color: #5e5858;
    line-height: 24px;
    font-family: 'Roboto';
    margin-top: 0;
    margin-bottom: 0;
}

.contact-us-form input[type="submit"] {
    padding: 12px 20px;
    background-color: #c04ae2;
    border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
    border: 0;
    margin-top: 35px;
    cursor: pointer;
}

.contact-us-heading {
    margin-bottom: 35px;
}

.contact-us-section{
    background-image: url(../image/contact-us-bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 100px 0;
}

/*Contact us css end here*/

/*Blog css start here*/

.blog-heading-sec {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 80px;
}

.blog-heading-sec .custom-sub-heading h4 {
    text-align: left;
}

.blog-heading-sec .custom-heading h2 {
    width: 100%;
    text-align: left;
}

.go-to-blog a {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #111111;
    font-weight: 800;
    border-bottom: 3px solid #c04ae2;
}

.blog-content-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-content-detail .blog-content-col {
    width: 33.33%;
    margin: 0 20px;
    border-radius: 18px;
    background-color: rgba(26,228,190,0);
    border: 1px solid #b3bed1;
    padding: 30px;
    transition: all 0.5s ease;
}

.blog-content-detail .blog-content-col:hover {
    background-color: #fff;
    border-color: #fff;
}

.cust-blog-author-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cust-blog-author-img-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cust-blog-author-img-sec h4 {
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 30px;
    color: #111111;
    font-weight: 800;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.cust-blog-sub-txt h4.blog-sub-title-pink {
    font-size: 18px;
    line-height: 30px;
    color: #fe6686;
    font-weight: 700;
    margin-top: 0;
}

.cust-blog-heading-txt h2 {
    font-size: 24px;
    color: #111111;
    font-weight: bold;
}

.cust-blog-paragraph p {
    font-size: 20px;
    font-family: 'Roboto';
    color: #5e5858;
}

h4.blog-sub-title-green {
    font-size: 18px;
    line-height: 30px;
    color: #54d6a1;
    font-weight: 700;
    margin-top: 0;
}

h4.blog-sub-title-orange {
    font-size: 18px;
    line-height: 30px;
    color: #fe9a3f;
    font-weight: 700;
    margin-top: 0;
}

.blog-section{
    background-image: url(../image/blog-bg-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 0;
}

.blog-content-detail .blog-content-col:first-child {
    margin-left: 0;
}

.blog-content-detail .blog-content-col:last-child {
    margin-right: 0;
}

/*Blog css end here*/

/*Footer css start here*/

.footer-inner-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer-col-1 {
    width: 30%;
    margin-right: 30px;
}

.footer-col-2 {
    width: 20%;
    margin-right: 20px;
}

.footer-col-3 {
    width: 20%;
    margin-right: 20px;
}

.footer-col-4 {
    width: 30%;
}

.footer-txt-content p {
    font-size: 18px;
    line-height: 27px;
    color: #5e5858;
    font-weight: 400;
    font-family: "Poppins";
    margin-top: 30px;
}

.footer-menu h4 {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 26px;
    color: #111111;
    font-weight: 800;
    margin-top: 0;
}

.footer-menu ul {
    padding: 0;
}

.footer-menu ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

.footer-menu ul li a {
    font-size: 18px;
    font-family: 'Roboto';
    color: #5e5858;
}

.footer-company-detail h4 {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 26px;
    color: #111111;
    font-weight: 800;
    margin-top: 0;
}

.footer-company-location, .footer-company-email, .footer-company-phone {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.footer-company-add i {
    font-size: 18px;
    color: #5e5858;
    line-height: 30px;
}

.footer-company-add p {
    font-size: 18px;
    color: #5e5858;
    font-family: 'Roboto';
    margin-left: 15px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-submit-email input {
    border-radius: 7px;
    background-color: #f3f9fb;
    width: 85%;
    height: 55px;
    border: 0;
    font-size: 18px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto";
    padding: 0 20px;
}

.footer-submit-email {
    width: 100%;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.footer-section .footer-inner-section{
    margin: 100px 0;
}

.footer-submit-email:before {
    content: "\f0e0";
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    right: 25px;
    color: #999999;
}

.footer-follow-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-follow-links h4 {
    font-size: 18px;
    line-height: 26px;
    color: #111111;
    font-weight: 800;
    margin: 0;
}

.footer-follow-links img {
    margin-left: 15px;
}

.footer-copy-right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.copy-right-txt {
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    font-weight: 400;
    font-family: "Roboto";
}

.copy-right-txt a {
    color: #111;
    font-weight: bold;
}


/*Footer css end here*/

/*Responsive css start here*/
@media screen and (max-width:1440px){
    .banner-section .banner-heading {
        font-size: 70px;
    }

    .custom-heading h2 {
        font-size: 50px;
    }

    .testimonial-slider:before {
        height: 50px;
        width: 65px;
        left: -80px;
    }
}

@media screen and (max-width: 1366px){
    .banner-section .banner-heading {
        font-size: 60px;
        margin-bottom: 25px;
    }

    .banner-section {
        height: 500px;
    }
    .our-project-section, .meet-team-section {
        padding: 100px 0;
    }
    .testimonial-slider:before {
        height: 35px;
        width: 50px;
        left: -30px;
        top: 30px;
    }
}

@media screen and (max-width: 1199px){
    .header-inner .header-menu ul.header-menu-inner a {
        padding-right: 20px;
    }
    .banner-section .banner-heading {
        font-size: 50px;
    }

    .banner-section .banner-sub-content {
        font-size: 25px;
    }

    .banner-section {
        height: 400px;
        padding-top: 12%;
        padding-bottom: 6%;
    }

    .custom-heading h2 {
        font-size: 40px;
    }

    .build-trust-section .build-block-inner {
        padding: 50px 30px;
    }

    .innovative-section {
        padding-top: 0;
        padding-bottom: 0;
    }
    .our-project-col-1 .our-project-img-sec, .our-project-col-3 .our-project-img-sec {
        margin-right: 40px;
    }

    .our-project-col-2 .our-project-img-sec {
        margin-left: 40px;
    }

    .blog-section {
        padding: 100px 0;
    }
    .testimonial-slider:before {
        left: -5px;
    }
}

@media screen and (max-width: 991px){
    .header-inner .header-menu ul.header-menu-inner a {
        padding-right: 10px;
        font-size: 15px;
    }

    .header-quote-btn a {
        padding: 10px;
        font-size: 12px;
    }

    .header-social-icon img {
        width: 80%;
    }

    .header-inner .header-menu ul.header-menu-inner {
        padding: 0;
    }
}

@media screen and (max-width:768px){
    .header-menu .humbarger-menu {
        display: block;
    }
    .header-inner .header-menu ul.header-menu-inner {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        width: 50%;
        right: 10px;
        top: 60px;
    }

    .heder-logo {
        order: 1;
    }

    .header-quote-btn {
        order: 2;
    }

    .header-social-icon {
        order: 3;
    }

    .header-menu {
        order: 4;
    }

    .header-inner .header-menu ul.header-menu-inner li {
        padding: 15px;
        width: 100%;
    }
    .humbarger-menu .mobile-close-icon {
        display: none;
    }

    .close-icon-active .mobile-close-icon {
        display: block;
    }

    .close-icon-active .mobile-menu-icon {
        display: none;
    }

    .banner-section .banner-heading {
        font-size: 40px;
    }

    .banner-section .banner-sub-content {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .banner-section .banner-btn a {
        font-size: 20px;
    }

    .banner-section {
        padding-top: 17%;
        height: 380px;
        padding-bottom: 0;
    }

    .build-trust-section {
        padding: 50px 0;
    }

    .custom-heading h2 {
        font-size: 35px;
    }

    .custom-sub-heading h4 {
        margin-bottom: 15px;
    }

    .build-trust-section .build-trust-heading-main {
        margin-bottom: 50px;
    }

    .build-trust-section .build-block-inner {
        padding: 20px;
    }

    .build-icon img {
        width: 70%;
    }

    .build-trust-section .build-block-title h4 {
        font-size: 22px;
        margin: 15px 0;
    }

    .innovative-section .innovative-txt-content p {
        font-size: 20px;
    }

    .innovative-section .innovative-sec-inner {
        flex-direction: column;
    }

    .innovative-section .innovative-txt-content {
        order: 2;
        width: 100%;
        padding: 0;
        padding-top: 30px;
    }

    .innovative-section .innovative-img {
        width: 100%;
    }

    .innovative-section {
        padding: 40px 0;
    }

    .innovative-section .innovative-btn a {
        font-size: 20px;
    }

    .what-we-do-section {
        padding: 50px 0;
    }

    .what-we-do-section .what-we-do-section-block-inner {
        width: 50%;
    }

    .what-we-do-col-2 {
        margin-top: 0;
    }

    .what-we-do-col-3 {
        margin-top: 0;
    }

    .what-we-do-section-block-inner.what-we-do-col-4 {
        margin-top: 0;
    }

    .what-we-do-section .what-we-do-section-block-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        min-height: 300px;
        padding: 30px 20px;
    }

    .what-we-do-block-paragraph {
        margin-top: auto;
    }

    .what-we-do-section-block-inner.what-we-do-col-5 {
        margin-top: 0;
    }

    .what-we-do-section {
        background-position-y: -19%;
        background-size: 100%;
    }

    .what-we-do-section .custom-sub-heading h4 {
        text-align: center;
    }

    .what-we-do-section .custom-heading h2 {
        text-align: center;
        margin: 0px auto;
    }

    .what-we-do-block-icon img {
        width: 70%;
    }

    .what-we-do-section .what-we-do-block-title h4 {
        font-size: 22px;
        margin-bottom: 0;
    }

    .our-project-section .our-project-img-txt-inner {
        flex-direction: column;
    }

    .our-project-section .our-project-img-txt-inner .our-project-img-sec {
        width: 100%;
        margin: 0;
    }

    .our-project-section .our-project-img-txt-inner .our-project-img-sec img {
        width: 100%;
    }

    .our-project-section .our-project-img-txt-inner .our-project-txt-sec {
        width: 100%;
        padding-top: 30px;
    }

    .our-project-col-2 .our-project-txt-sec {
        order: 2;
    }

    .our-project-sec-heading {
        margin-bottom: 50px;
    }

    .meet-team-content-sec {
        flex-wrap: wrap;
    }

    .meet-team-block-main {
        width: 50%;
    }

    .custom-top-margin {
        margin-top: 0;
    }

    .meet-team-block {
        margin-bottom: 35px;
        text-align: center;
    }

    .meet-team-title-section {
        margin-bottom: 50px;
    }

    .testimonial-inner-sec {
        flex-direction: column;
    }

    .testimonial-slider {
        order: 2;
        width: 100%;
        margin-top: 30px;
    }

    .testimonial-img-section {
        width: 100%;
    }

    .testimonial-section ul.slick-dots {
        text-align: center;
    }

    .testimonial-section .custom-sub-heading h4 {
        text-align: center;
    }

    .testimonial-section .custom-heading h2 {
        text-align: center;
    }

    .testimonial-paragraph p {
        text-align: center;
    }

    .testimonial-details {
        justify-content: center;
    }

    .testimonial-slider:before {
        left: 0;
    }

    .contact-us-section {
        padding: 50px 0;
    }

    .contact-us-content-sec {
        flex-direction: column;
    }

    .contact-us-form-sec {
        width: 100%;
    }

    .contact-us-details-sec {
        width: 100%;
        padding-top: 25px;
    }

    .contact-us-form form input[type="text"], .contact-us-form form input[type="email"], .contact-us-form form textarea {
        width: 95%;
    }

    .contact-us-form-title h3 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .contact-us-form input[type="submit"] {
        font-size: 18px;
    }

    .blog-content-detail .blog-content-col {
        margin: 0 15px;
        padding: 20px;
    }

    .cust-blog-heading-txt h2 {
        font-size: 22px;
    }

    .cust-blog-sub-txt h4 {
        margin-bottom: 10px;
    }

    .cust-blog-paragraph p {
        font-size: 18px;
    }

    .cust-blog-author-detail {
        flex-direction: column;
        align-items: flex-start;
    }

    .cust-blog-author-img-sec {
        margin-bottom: 20px;
    }

    .cust-blog-author-img-sec h4 {
        font-size: 20px;
    }

    .footer-section .footer-inner-section {
        margin: 50px 0;
        flex-wrap: wrap;
    }

    .footer-col-1 {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-col-2 {
        width: 30%;
    }

    .footer-col-3 {
        width: 30%;
    }

    .footer-col-4 {
        width: 30%;
    }

    .footer-submit-email input {
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .banner-section .banner-inner {
        flex-direction: column;
    }

    .banner-section .banner-inner .banner-txt-content {
        order: 2;
        width: 100%;
        margin-top: 25px;
    }

    .banner-section .banner-inner .banner-img {
        width: 100%;
    }

    .banner-section {
        height: 800px;
    }

    .build-trust-section .build-trust-block-inner {
        flex-direction: column;
    }

    .build-trust-section .build-block {
        width: 100%;
    }

    .build-trust-section .block-1, .build-trust-section .block-2 {
        margin: 0 !important;
        margin-bottom: 25px !important;
    }

    .build-trust-section {
        background-size: 100%;
    }
    .what-we-do-section .what-we-do-section-block-content {
        min-height: 375px;
    }

    .blog-content-detail {
        flex-direction: column;
    }

    .blog-content-detail .blog-content-col {
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }

    .blog-content-detail .blog-content-col:last-child {
        margin: 0;
    }

    .cust-blog-author-detail {
        flex-direction: row;
        align-items: center;
    }

    .cust-blog-author-img-sec {
        margin: 0;
    }

    .footer-col-2 {
        width: 45%;
    }

    .footer-col-3 {
        width: 45%;
    }

    .footer-col-4 {
        width: 100%;
        margin-top: 30px;
    }

    .what-we-do-section .what-we-do-section-block-content {
        margin-left: 0;
        margin-right: 0;
    }

    .our-project-section {
        padding: 50px 0;
    }
}

@media screen and (max-width: 575px){
    .header-social-icon {
        display: none;
    }

    .header-quote-btn a {
        padding: 10px 15px;
    }

    .banner-section {
        height: 590px;
        padding-top: 25%;
    }

    .banner-section .banner-heading {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }

    .banner-section .banner-sub-content {
        font-size: 20px;
        margin-top: 15px;
        text-align: center;
    }

    .banner-section .banner-btn {
        width: 100%;
        text-align: center;
    }

    .custom-sub-heading h4 {
        font-size: 20px;
    }

    .custom-heading h2 {
        width: 100%;
        font-size: 30px;
    }

    .what-we-do-section .what-we-do-section-block {
        flex-direction: column;
    }

    .what-we-do-section .what-we-do-section-block-inner {
        width: 100%;
    }

    .what-we-do-section .what-we-do-section-block-content {
        min-height: auto;
    }

    .what-we-do-section .what-we-do-block-arrow {
        margin-top: 10px;
    }

    .our-project-txt-sec h3.our-project-main-txt {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .our-project-txt-sec h4.our-project-sub-txt {
        font-size: 20px;
    }

    .meet-team-section {
        padding: 50px 0;
    }

    .meet-team-content-sec {
        flex-direction: column;
    }

    .meet-team-block-main {
        width: 100%;
    }

    .testimonial-paragraph p {
        font-size: 20px;
    }

    .contact-us-form-title h3 {
        margin-top: 15px;
        font-size: 25px;
    }

    .contact-us-form form input[type="text"], .contact-us-form form input[type="email"], .contact-us-form form textarea {
        width: 90%;
        height: 55px;
    }

    .contact-us-details-sec p.contact-us-txt {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .blog-heading-sec {
        margin-bottom: 50px;
        flex-direction: column;
    }

    .blog-heading-sec .blog-title {
        width: 100%;
    }

    .blog-heading-sec .go-to-blog {
        width: 100%;
        text-align: right;
        margin-top: 20px;
    }

    .blog-content-detail .blog-content-col {
        width: 90%;
    }

    .blog-section {
        padding: 50px 0;
    }

    .footer-col-1 {
        margin-right: 0;
    }

    .footer-col-2 {
        width: 100%;
        margin-right: 0;
    }

    .footer-col-3 {
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }

    .footer-menu h4 {
        margin-bottom: 20px;
    }

    .footer-copy-right-section {
        flex-direction: column;
    }

    .footer-follow-links {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:375px){
    .banner-section {
        height: 550px;
    }

    .custom-heading h2 {
        font-size: 25px;
    }

    .custom-sub-heading h4 {
        font-size: 18px;
    }

    .innovative-section .innovative-txt-content p {
        font-size: 18px;
    }

    .what-we-do-section .what-we-do-block-paragraph p {
        font-size: 18px;
    }

    .our-project-txt-sec h3.our-project-main-txt {
        font-size: 25px;
    }

    .our-project-txt-sec p.our-project-paragraph {
        font-size: 18px;
    }

    .testimonial-details h5 {
        font-size: 18px;
        margin-left: 15px;
    }

    .testimonial-details p {
        font-size: 16px;
    }

    .testimonial-details:before {
        width: 16px;
    }

    .testimonial-section ul.slick-dots {
        bottom: -60px;
    }

    .contact-us-form form input[type="text"], .contact-us-form form input[type="email"], .contact-us-form form textarea {
        font-size: 18px;
        width: 86%;
    }

    .contact-us-details-sec p.contact-us-txt {
        font-size: 18px;
    }

    .cus-contact-add-detail {
        margin-left: 15px;
    }
}
/*Responsive css end here*/